body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:69px;
  width:851px;
  height:39px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:49px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:651px;
  top:72px;
  width:196px;
  height:35px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:35px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:582px;
  top:4px;
  width:250px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:830px;
  top:4px;
  width:100px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:11px;
  top:43px;
  width:370px;
  height:19px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#3399FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:6px;
  width:360px;
  height:34px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:22px;
  top:82px;
  width:120px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:153px;
  top:82px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:658px;
  top:80px;
  width:130px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:802px;
  top:82px;
  width:59px;
  height:14px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:11px;
  text-decoration:underline;
  color:#CC3366;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:270px;
  top:82px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:372px;
  top:82px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:481px;
  top:82px;
  width:130px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:172px;
  top:143px;
  width:270px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:172px;
  top:123px;
  width:190px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:172px;
  top:205px;
  width:330px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:172px;
  top:185px;
  width:261px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:172px;
  top:529px;
  width:460px;
  height:58px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:58px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:172px;
  top:507px;
  width:109px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:12px;
  top:123px;
  width:120px;
  height:120px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u37 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:12px;
  top:253px;
  width:140px;
  height:16px;
  color:#333333;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:172px;
  top:379px;
  width:261px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:172px;
  top:405px;
  width:100px;
  height:16px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:172px;
  top:425px;
  width:100px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:172px;
  top:444px;
  width:100px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:172px;
  top:464px;
  width:140px;
  height:16px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:172px;
  top:483px;
  width:100px;
  height:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:172px;
  top:717px;
  width:461px;
  height:160px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:160px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:172px;
  top:687px;
  width:460px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:232px;
  top:691px;
  width:22px;
  height:22px;
  font-family:'Georgia Полужирный', 'Georgia';
  font-weight:700;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u55_img.selected {
}
#u55.selected {
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u55_img.disabled {
}
#u55.disabled {
}
#u56 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:302px;
  top:694px;
  width:10px;
  height:16px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u58 {
  position:absolute;
  left:303px;
  top:694px;
  width:10px;
  height:16px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u59 {
  position:absolute;
  left:256px;
  top:691px;
  width:22px;
  height:22px;
  font-family:'Georgia Полужирный Курсив', 'Georgia';
  font-weight:700;
  font-style:italic;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u59_img.selected {
}
#u59.selected {
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u59_img.disabled {
}
#u59.disabled {
}
#u60 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:280px;
  top:691px;
  width:22px;
  height:22px;
  font-family:'Georgia Полужирный', 'Georgia';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u61_img.selected {
}
#u61.selected {
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u61_img.disabled {
}
#u61.disabled {
}
#u62 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:312px;
  top:691px;
  width:23px;
  height:23px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u63_img.selected {
}
#u63.selected {
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:337px;
  top:691px;
  width:23px;
  height:23px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u65_img.selected {
}
#u65.selected {
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:360px;
  top:694px;
  width:10px;
  height:16px;
}
#u67_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u67_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u68 {
  position:absolute;
  left:361px;
  top:694px;
  width:10px;
  height:16px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u69 {
  position:absolute;
  left:370px;
  top:691px;
  width:23px;
  height:23px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u69_img.selected {
}
#u69.selected {
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u69_img.disabled {
}
#u69.disabled {
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:395px;
  top:691px;
  width:23px;
  height:23px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u71_img.selected {
}
#u71.selected {
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u71_img.disabled {
}
#u71.disabled {
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:429px;
  top:691px;
  width:23px;
  height:23px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u73_img.selected {
}
#u73.selected {
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u73_img.disabled {
}
#u73.disabled {
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:454px;
  top:691px;
  width:23px;
  height:23px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u75_img.selected {
}
#u75.selected {
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u75_img.disabled {
}
#u75.disabled {
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:479px;
  top:691px;
  width:23px;
  height:23px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u77_img.selected {
}
#u77.selected {
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u77_img.disabled {
}
#u77.disabled {
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:172px;
  top:665px;
  width:460px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:171px;
  top:594px;
  width:471px;
  height:64px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:64px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:171px;
  top:894px;
  width:150px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:171px;
  top:952px;
  width:105px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:171px;
  top:914px;
  width:330px;
  height:22px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:171px;
  top:972px;
  width:195px;
  height:22px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  position:absolute;
  left:505px;
  top:914px;
  width:175px;
  height:21px;
  overflow:hidden;
  visibility:hidden;
}
#u89_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u89_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:12px;
  top:0px;
  width:138px;
  height:21px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:16px;
  top:3px;
  width:139px;
  height:16px;
  color:#990000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:505px;
  top:972px;
  width:175px;
  height:21px;
  overflow:hidden;
  visibility:hidden;
}
#u96_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u96_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:12px;
  top:0px;
  width:163px;
  height:21px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:21px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:16px;
  top:3px;
  width:174px;
  height:16px;
  color:#990000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:171px;
  top:1004px;
  width:220px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:171px;
  top:1024px;
  width:195px;
  height:22px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106 {
  position:absolute;
  left:171px;
  top:1142px;
  width:105px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:171px;
  top:1168px;
  width:195px;
  height:22px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109 {
  position:absolute;
  left:381px;
  top:1024px;
  width:100px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:171px;
  top:1046px;
  width:250px;
  height:16px;
  color:#999999;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:171px;
  top:1072px;
  width:180px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:171px;
  top:1092px;
  width:195px;
  height:22px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116 {
  position:absolute;
  left:171px;
  top:1114px;
  width:250px;
  height:16px;
  color:#999999;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:170px;
  top:344px;
  width:330px;
  height:25px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119 {
  position:absolute;
  left:170px;
  top:324px;
  width:261px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:170px;
  top:240px;
  width:105px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:170px;
  top:260px;
  width:195px;
  height:22px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124 {
  position:absolute;
  left:170px;
  top:282px;
  width:286px;
  height:32px;
  color:#999999;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:32px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:181px;
  top:1231px;
  width:270px;
  height:25px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127 {
  position:absolute;
  left:365px;
  top:1205px;
  width:190px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:789px;
  top:1140px;
  width:580px;
  height:40px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:576px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:554px;
  top:1213px;
  width:304px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:554px;
  top:1233px;
  width:195px;
  height:22px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134 {
  position:absolute;
  left:554px;
  top:1258px;
  width:250px;
  height:16px;
  color:#999999;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:171px;
  top:1201px;
  width:718px;
  height:109px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:109px;
}
#u137 {
  position:absolute;
  left:2px;
  top:46px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:179px;
  top:1213px;
  width:190px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:180px;
  top:1278px;
  width:720px;
  height:20px;
  color:#868686;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:9px;
  top:4px;
  width:921px;
  height:104px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
  position:absolute;
  left:172px;
  top:143px;
  width:270px;
  height:25px;
}
#u27_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28.a {
}
#u30.a {
  position:absolute;
  left:172px;
  top:205px;
  width:330px;
  height:25px;
}
#u30_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31.a {
}
#u33.a {
  position:absolute;
  left:172px;
  top:529px;
  width:460px;
  height:58px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:58px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u42_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43.a {
}
#u44.a {
}
#u44_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45.a {
}
#u46.a {
}
#u46_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47.a {
}
#u48.a {
}
#u48_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49.a {
}
#u50.a {
}
#u50_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51.a {
}
#u52.a {
  position:absolute;
  left:172px;
  top:717px;
  width:461px;
  height:160px;
}
#u52_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:160px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53.a {
}
#u55.a {
}
#u57.a {
}
#u57_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end.a {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u57_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u58.a {
}
#u58_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end.a {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u58_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u59.a {
}
#u61.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
}
#u67_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end.a {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u67_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u68.a {
}
#u68_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end.a {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u68_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u69.a {
}
#u71.a {
}
#u73.a {
}
#u75.a {
}
#u77.a {
}
#u79.a {
}
#u81.a {
}
#u83.a {
}
#u85.a {
}
#u87.a {
  position:absolute;
  left:171px;
  top:914px;
  width:330px;
  height:22px;
}
#u87_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.a {
  position:absolute;
  left:171px;
  top:972px;
  width:195px;
  height:22px;
}
#u88_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.a {
  position:absolute;
  left:505px;
  top:914px;
  width:175px;
  height:21px;
}
#u90.a {
}
#u92.a {
}
#u94.a {
}
#u89_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u96.a {
  position:absolute;
  left:505px;
  top:972px;
  width:175px;
  height:21px;
}
#u97.a {
}
#u99.a {
}
#u101.a {
}
#u96_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u103.a {
}
#u105.a {
  position:absolute;
  left:171px;
  top:1024px;
  width:195px;
  height:22px;
}
#u105_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106.a {
}
#u108.a {
  position:absolute;
  left:171px;
  top:1168px;
  width:195px;
  height:22px;
}
#u108_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.a {
}
#u111.a {
}
#u113.a {
}
#u115.a {
  position:absolute;
  left:171px;
  top:1092px;
  width:195px;
  height:22px;
}
#u115_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116.a {
}
#u118.a {
  position:absolute;
  left:170px;
  top:344px;
  width:330px;
  height:25px;
}
#u118_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119.a {
}
#u121.a {
}
#u123.a {
  position:absolute;
  left:170px;
  top:260px;
  width:195px;
  height:22px;
}
#u123_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124.a {
}
#u126.a {
  position:absolute;
  left:181px;
  top:1231px;
  width:270px;
  height:25px;
}
#u126_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127.a {
}
#u129.a {
}
#u131.a {
}
#u133.a {
  position:absolute;
  left:554px;
  top:1233px;
  width:195px;
  height:22px;
}
#u133_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134.a {
}
#u136.a {
}
#u138.a {
}
#u140.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:9px;
  top:4px;
  width:921px;
  height:104px;
}
#u1.b {
}
#u3.b {
}
#u5.b {
}
#u7.b {
}
#u9.b {
}
#u11.b {
}
#u13.b {
}
#u15.b {
}
#u17.b {
}
#u19.b {
}
#u21.b {
}
#u23.b {
}
#u25.b {
}
#u27.b {
  position:absolute;
  left:172px;
  top:143px;
  width:270px;
  height:25px;
}
#u27_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28.b {
}
#u30.b {
  position:absolute;
  left:172px;
  top:205px;
  width:330px;
  height:25px;
}
#u30_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31.b {
}
#u33.b {
  position:absolute;
  left:172px;
  top:529px;
  width:460px;
  height:58px;
}
#u33_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:58px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
}
#u42.b {
}
#u42_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43.b {
}
#u44.b {
}
#u44_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45.b {
}
#u46.b {
}
#u46_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47.b {
}
#u48.b {
}
#u48_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49.b {
}
#u50.b {
}
#u50_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51.b {
}
#u52.b {
  position:absolute;
  left:172px;
  top:717px;
  width:461px;
  height:160px;
}
#u52_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:160px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53.b {
}
#u55.b {
}
#u57.b {
}
#u57_start.b {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end.b {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u57_line.b {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u58.b {
}
#u58_start.b {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end.b {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u58_line.b {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u59.b {
}
#u61.b {
}
#u63.b {
}
#u65.b {
}
#u67.b {
}
#u67_start.b {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end.b {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u67_line.b {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u68.b {
}
#u68_start.b {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end.b {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u68_line.b {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u69.b {
}
#u71.b {
}
#u73.b {
}
#u75.b {
}
#u77.b {
}
#u79.b {
}
#u81.b {
}
#u83.b {
}
#u85.b {
}
#u87.b {
  position:absolute;
  left:171px;
  top:914px;
  width:330px;
  height:22px;
}
#u87_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.b {
  position:absolute;
  left:171px;
  top:972px;
  width:195px;
  height:22px;
}
#u88_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.b {
  position:absolute;
  left:505px;
  top:914px;
  width:175px;
  height:21px;
}
#u90.b {
}
#u92.b {
}
#u94.b {
}
#u89_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u96.b {
  position:absolute;
  left:505px;
  top:972px;
  width:175px;
  height:21px;
}
#u97.b {
}
#u99.b {
}
#u101.b {
}
#u96_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u103.b {
}
#u105.b {
  position:absolute;
  left:171px;
  top:1024px;
  width:195px;
  height:22px;
}
#u105_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106.b {
}
#u108.b {
  position:absolute;
  left:171px;
  top:1168px;
  width:195px;
  height:22px;
}
#u108_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.b {
}
#u111.b {
}
#u113.b {
}
#u115.b {
  position:absolute;
  left:171px;
  top:1092px;
  width:195px;
  height:22px;
}
#u115_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116.b {
}
#u118.b {
  position:absolute;
  left:170px;
  top:344px;
  width:330px;
  height:25px;
}
#u118_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119.b {
}
#u121.b {
}
#u123.b {
  position:absolute;
  left:170px;
  top:260px;
  width:195px;
  height:22px;
}
#u123_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124.b {
}
#u126.b {
  position:absolute;
  left:181px;
  top:1231px;
  width:270px;
  height:25px;
}
#u126_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127.b {
}
#u129.b {
}
#u131.b {
}
#u133.b {
  position:absolute;
  left:554px;
  top:1233px;
  width:195px;
  height:22px;
}
#u133_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134.b {
}
#u136.b {
}
#u138.b {
}
#u140.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
  position:absolute;
  left:9px;
  top:4px;
  width:921px;
  height:104px;
}
#u1.c {
}
#u3.c {
}
#u5.c {
}
#u7.c {
}
#u9.c {
}
#u11.c {
}
#u13.c {
}
#u15.c {
}
#u17.c {
}
#u19.c {
}
#u21.c {
}
#u23.c {
}
#u25.c {
}
#u27.c {
  position:absolute;
  left:172px;
  top:143px;
  width:270px;
  height:25px;
}
#u27_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28.c {
}
#u30.c {
  position:absolute;
  left:172px;
  top:205px;
  width:330px;
  height:25px;
}
#u30_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31.c {
}
#u33.c {
  position:absolute;
  left:172px;
  top:529px;
  width:460px;
  height:58px;
}
#u33_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:58px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34.c {
}
#u36.c {
}
#u38.c {
}
#u40.c {
}
#u42.c {
}
#u42_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43.c {
}
#u44.c {
}
#u44_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45.c {
}
#u46.c {
}
#u46_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47.c {
}
#u48.c {
}
#u48_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49.c {
}
#u50.c {
}
#u50_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51.c {
}
#u52.c {
  position:absolute;
  left:172px;
  top:717px;
  width:461px;
  height:160px;
}
#u52_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:160px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53.c {
}
#u55.c {
}
#u57.c {
}
#u57_start.c {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end.c {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u57_line.c {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u58.c {
}
#u58_start.c {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end.c {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u58_line.c {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u59.c {
}
#u61.c {
}
#u63.c {
}
#u65.c {
}
#u67.c {
}
#u67_start.c {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end.c {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u67_line.c {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u68.c {
}
#u68_start.c {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end.c {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u68_line.c {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u69.c {
}
#u71.c {
}
#u73.c {
}
#u75.c {
}
#u77.c {
}
#u79.c {
}
#u81.c {
}
#u83.c {
}
#u85.c {
}
#u87.c {
  position:absolute;
  left:171px;
  top:914px;
  width:330px;
  height:22px;
}
#u87_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.c {
  position:absolute;
  left:171px;
  top:972px;
  width:195px;
  height:22px;
}
#u88_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.c {
  position:absolute;
  left:505px;
  top:914px;
  width:175px;
  height:21px;
}
#u90.c {
}
#u92.c {
}
#u94.c {
}
#u89_state0.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u96.c {
  position:absolute;
  left:505px;
  top:972px;
  width:175px;
  height:21px;
}
#u97.c {
}
#u99.c {
}
#u101.c {
}
#u96_state0.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u103.c {
}
#u105.c {
  position:absolute;
  left:171px;
  top:1024px;
  width:195px;
  height:22px;
}
#u105_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106.c {
}
#u108.c {
  position:absolute;
  left:171px;
  top:1168px;
  width:195px;
  height:22px;
}
#u108_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.c {
}
#u111.c {
}
#u113.c {
}
#u115.c {
  position:absolute;
  left:171px;
  top:1092px;
  width:195px;
  height:22px;
}
#u115_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116.c {
}
#u118.c {
  position:absolute;
  left:170px;
  top:344px;
  width:330px;
  height:25px;
}
#u118_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119.c {
}
#u121.c {
}
#u123.c {
  position:absolute;
  left:170px;
  top:260px;
  width:195px;
  height:22px;
}
#u123_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124.c {
}
#u126.c {
  position:absolute;
  left:181px;
  top:1231px;
  width:270px;
  height:25px;
}
#u126_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127.c {
}
#u129.c {
}
#u131.c {
}
#u133.c {
  position:absolute;
  left:554px;
  top:1233px;
  width:195px;
  height:22px;
}
#u133_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134.c {
}
#u136.c {
}
#u138.c {
}
#u140.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
  position:absolute;
  left:9px;
  top:4px;
  width:921px;
  height:104px;
}
#u1.d {
}
#u3.d {
}
#u5.d {
}
#u7.d {
}
#u9.d {
}
#u11.d {
}
#u13.d {
}
#u15.d {
}
#u17.d {
}
#u19.d {
}
#u21.d {
}
#u23.d {
}
#u25.d {
}
#u27.d {
  position:absolute;
  left:172px;
  top:143px;
  width:270px;
  height:25px;
}
#u27_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28.d {
}
#u30.d {
  position:absolute;
  left:172px;
  top:205px;
  width:330px;
  height:25px;
}
#u30_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31.d {
}
#u33.d {
  position:absolute;
  left:172px;
  top:529px;
  width:460px;
  height:58px;
}
#u33_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:58px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34.d {
}
#u36.d {
}
#u38.d {
}
#u40.d {
}
#u42.d {
}
#u42_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43.d {
}
#u44.d {
}
#u44_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45.d {
}
#u46.d {
}
#u46_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47.d {
}
#u48.d {
}
#u48_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49.d {
}
#u50.d {
}
#u50_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51.d {
}
#u52.d {
  position:absolute;
  left:172px;
  top:717px;
  width:461px;
  height:160px;
}
#u52_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:160px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53.d {
}
#u55.d {
}
#u57.d {
}
#u57_start.d {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end.d {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u57_line.d {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u58.d {
}
#u58_start.d {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end.d {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u58_line.d {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u59.d {
}
#u61.d {
}
#u63.d {
}
#u65.d {
}
#u67.d {
}
#u67_start.d {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end.d {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u67_line.d {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u68.d {
}
#u68_start.d {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end.d {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u68_line.d {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u69.d {
}
#u71.d {
}
#u73.d {
}
#u75.d {
}
#u77.d {
}
#u79.d {
}
#u81.d {
}
#u83.d {
}
#u85.d {
}
#u87.d {
  position:absolute;
  left:171px;
  top:914px;
  width:330px;
  height:22px;
}
#u87_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.d {
  position:absolute;
  left:171px;
  top:972px;
  width:195px;
  height:22px;
}
#u88_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.d {
  position:absolute;
  left:505px;
  top:914px;
  width:175px;
  height:21px;
}
#u90.d {
}
#u92.d {
}
#u94.d {
}
#u89_state0.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u96.d {
  position:absolute;
  left:505px;
  top:972px;
  width:175px;
  height:21px;
}
#u97.d {
}
#u99.d {
}
#u101.d {
}
#u96_state0.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u103.d {
}
#u105.d {
  position:absolute;
  left:171px;
  top:1024px;
  width:195px;
  height:22px;
}
#u105_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106.d {
}
#u108.d {
  position:absolute;
  left:171px;
  top:1168px;
  width:195px;
  height:22px;
}
#u108_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.d {
}
#u111.d {
}
#u113.d {
}
#u115.d {
  position:absolute;
  left:171px;
  top:1092px;
  width:195px;
  height:22px;
}
#u115_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116.d {
}
#u118.d {
  position:absolute;
  left:170px;
  top:344px;
  width:330px;
  height:25px;
}
#u118_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119.d {
}
#u121.d {
}
#u123.d {
  position:absolute;
  left:170px;
  top:260px;
  width:195px;
  height:22px;
}
#u123_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124.d {
}
#u126.d {
  position:absolute;
  left:181px;
  top:1231px;
  width:270px;
  height:25px;
}
#u126_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127.d {
}
#u129.d {
}
#u131.d {
}
#u133.d {
  position:absolute;
  left:554px;
  top:1233px;
  width:195px;
  height:22px;
}
#u133_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134.d {
}
#u136.d {
}
#u138.d {
}
#u140.d {
}
