<div id="page" class="clearfloat">
    <div id="top" class="clearfloat">
        <div id="headline">
            <div class="title"><a href="#" style="font-size: 16px;">Секс: зачем им занимаются?</a></div>
            <div class="meta">[27 декабря 2013 | 1 комментарий | 350 просмотров]</div>
            <a href="#"> <img src="testpage/images/thumbs/relationship.jpg" alt="" class="left" width="300" height="300" /></a>
            <p>На первый взгляд, странный вопрос вынесен в заголовок. Как это зачем? Среди реакций на мою статью о близости мужчины и женщины была нередка и такая: «секс – это все, что объединяет мужчину и женщину, и любой нормальный мужчина всегда стремится заниматься сексом. Если у него этого стремления нет – это импотент или какой-нибудь трусливый ботан, который просто боится завоёвывать женщину». Вопрос «а зачем стремиться заниматься сексом с каждой симпатичной женщиной» нередко ставит таких комментаторов в тупик. «Потому что такова биология!». Однако если призадуматься…</p>
            <a href="#">Читать далее &raquo;</a> </div>
        <div id="featured"> Ближайшие события
            <div class="clearfloat"> <a href="#"> <img src="testpage/images/thumbs/fashion.jpg" alt="" class="left" width="100" height="65" /></a>
                <div class="info"><a href="#" class="title">Сновидение, которое работает, пока ты спишь</a>
                    <p class="eventtext">27.12.2013, Минск, Дворец республики <br /> Кузя Петров</p>
                </div>
            </div>
            <div class="divider"><img src="testpage/images/divider.png" width="128" height="5" alt="" /></div>
            <div class="clearfloat"> <a href="#"> <img src="testpage/images/thumbs/wine.jpg" alt="" class="left" width="100" height="65" /></a>
                <div class="info"><a href="#" class="title">Тайм-менеджмент: когда не хватает времени</a>
                    <p class="eventtext">09.01.2014, Брест, ДК <br /> Иван Иванович</p>
                </div>
            </div>
            <div class="divider"><img src="testpage/images/divider.png" width="128" height="5" alt="" /></div>
            <div class="clearfloat"> <a href="#"> <img src="testpage/images/thumbs/ericsson.jpg" alt="" class="left" width="100" height="65" /></a>
                <div class="info"><a href="#" class="title">Тренинг-подарок для себя "МЕЧТЫ РЕАЛЬНЫ"</a>
                    <p class="eventtext">11.02.2014, Минск, СШ № 234 <br /> Петр Петрович</p>
                </div>
            </div>
        </div>
    </div>
    <div id="middle" class="clearfloat">
        <div id="cat-1" class="category"> <span class="cat_title"><a href="#">Отношения М+Ж</a></span>
            <p><a href="#">Первая встреча не забывается никогда. Как и предвкушение первого свидания, мороз по коже, сердце в пятки.</a></p>
        </div>
        <div id="cat-2" class="category"> <span class="cat_title"><a href="#">Родителям о детях</a></span>
            <p><a href="#">Этот раздел посвящен воспитанию, развитию и здоровью детей от рождения до совершеннолетия.</a></p>
        </div>
        <div id="cat-3" class="category"> <span class="cat_title"><a href="#">Дела семейные</a></span>
            <p><a href="#">семейному человеку не следует увлекаться сверх меры балами и другими развлечениями светской жизни.</a></p>
        </div>
        <div id="cat-4" class="category"> <span class="cat_title"><a href="#">Бизнес</a></span>
            <p><a href="#">Не имеет смысла нанимать толковых людей, а затем указывать, что им делать.</a></p>
        </div>
        <div id="cat-5" class="category"> <span class="cat_title"><a href="#">Личностного роста</a></span>
            <p><a href="#">технология окучивания лохов, по которой лохам предлагают пройти курсы, после которых они заработают все деньги мира.</a></p>
        </div>
    </div>
    <div id="bottom" class="clearfloat">
        <div id="front-list">
            <div class="clearfloat">
                <div class="title"><a href="#" style="font-size: 16px;">О тренингах личностного роста</a></div> <br/>
                <span class="meta">[2 декабря 2013 | 0 комментариев | 153 просмотров]</span>
                <p><img class="alignleft size-full wp-image-41" style="float: left;" src="testpage/images/thumbs/hygene.jpg" alt="" width="180" height="197" />
                Технология окучивания лохов, по которой лохам предлагают пройти курсы, после которых они заработают все деньги мира, покорят всех женщин и вообще зохавают Вселенную. Имеет общие черты с МЛМ и финансовыми пирамидами, а также с пикапом, нейро-лингвистическим программированием, саентологией и прочими секретами.</p>
                <p>Технология окучивания лохов, по которой лохам предлагают пройти курсы, после которых они заработают все деньги мира, покорят всех женщин и вообще зохавают Вселенную. Имеет общие черты с МЛМ и финансовыми пирамидами, а также с пикапом, нейро-лингвистическим программированием, саентологией и прочими секретами.</p>
                <p><a href="#" class="more-link">Читать далее &raquo;</a></p>
            </div>
            <div class="divider"><img src="testpage/images/divider.png" alt="" /></div>
            <div class="clearfloat">
                <div class="title"><a href="#" style="font-size: 16px;">Сказ о мудреце</a></div> <br/>
                <span class="meta">[7 декабря 2013 | 15 комментариев | 116 просмотров]</span>
                <p><img class="alignleft size-full wp-image-41" style="float: left;" src="testpage/images/thumbs/nightlife.jpg" alt="" width="180" height="197" />Одна женщина пришла к старому мудрецу за советом. Она расска­зала ему следующее: «Речь о моем муже, о мудрец, — сказала она. — Он очень дорог мне. В течение последних трех лет он был на войне. Но после своего возвращения он почти ни с кем не разговаривает. Когда я с ним заговариваю, он будто не слышит меня. Но если и говорит, то говорит грубо. Если я готовлю его любимые блюда, он отталкивает их и сердито покидает комна­ту. Иногда, когда он должен был бы работать на рисовом поле, я вижу его сидящим на вершине холма и смотрящим вдаль, на море. Мне нужно зелье, — сказала молодая женщина, — чтобы он стал любящим и ласковым, каким был раньше».</p>
                <p><a href="#" class="more-link">Читать далее &raquo;</a></p>
            </div>
            <div class="divider"><img src="testpage/images/divider.png" alt="" /></div>
        </div>
        <div id="sidebar">
            <div id="sidebar-ads"> <img src="../img/advert2.jpg" alt="" /></div>
            <div id="sidebar-top">
                <h3>О проекте</h3>
                <div class="textwidget">На данном ресурсе вы можете получить психологическую помощь специалистов проекта. Их советы помогут вам и вашей половине прийти к взаимопониманию и решить семейные проблемы – как недавно возникшие, так и застаревшие.</div>
            </div>
            <div id="sidebar-middle" class="clearfloat">
                <div id="sidebar-left">
                    <h3>Страницы</h3>
                    <ul>
                        <li class="page_item page-item-2"><a href="#">О нас</a></li>
                        <li class="page_item page-item-29"><a href="#">Написать нам</a></li>
                        <li class="page_item page-item-30"><a href="#">Еще пункт</a></li>
                        <li class="page_item page-item-39"><a href="#">Карта сайта</a></li>
                        <li class="page_item page-item-38"><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div id="sidebar-right">
                    <h3>Панель управления</h3>
                    <ul>
                        <li><a href="#">Логин</a></li>
                        <li><a href="#">Статьи в <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="#">Комментарии в <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                    </ul>
                </div>
            </div>
            <div id="sidebar-bottom">
                <h3>Popular Tags</h3>
                <a href="#" class="tag-link-18" style="font-size:10.8pt;">apparels</a> <a href="#" class="tag-link-17" style="font-size:13.6pt;">arthemia</a> <a href="#" class="tag-link-23" style="font-size:8pt;">beach</a> <a href="#" class="tag-link-19" style="font-size:22pt;">dining</a> <a href="#" class="tag-link-27" style="font-size:10.8pt;">food</a> <a href="#" class="tag-link-22" style="font-size:10.8pt;">health</a> <a href="#" class="tag-link-21" style="font-size:10.8pt;">romance</a> <a href="#" class="tag-link-20" style="font-size:8pt;">sony&nbsp;ericsson</a> <a href="#" class="tag-link-26" style="font-size:8pt;">stuffs</a> <a href="#" class="tag-link-25" style="font-size:10.8pt;">tourism</a> <a href="#" class="tag-link-11" style="font-size:10.8pt;">Travel</a> <a href="#" class="tag-link-24" style="font-size:8pt;">vacation</a> <a href="#" class="tag-link-16" style="font-size:16.4pt;">wordpress</a> </div>
        </div>
    </div>
</div>
<div id="front-popular" class="clearfloat">
    <div id="recentpost" class="clearfloat">
        <h3>Последнее</h3>
        <ul>
            <li><a href="#">Сновидение, которое работает, пока ты спишь</a></li>
            <li><a href="#">Тайм-менеджмент: когда не хватает времени</a></li>
            <li><a href="#">Тренинг-подарок для себя "МЕЧТЫ РЕАЛЬНЫ"</a></li>
            <li><a href="#">Жизнь вдвоём: найти путь к настоящей любви</a></li>
            <li><a href="#">Международный день объятий</a></li>
        </ul>
    </div>
    <div id="mostcommented" class="clearfloat">
        <h3>Популярное</h3>
        <ul>
            <li><a href="#">18 января 2014. Интенсив-антистресс. Практикум по усилению иммунитета</a></li>
            <li><a href="#">Жизнь вдвоём: найти путь к настоящей любви</a></li>
            <li><a href="#">Международный день объятий</a></li>
            <li><a href="#">Тренинг-подарок для себя "МЕЧТЫ РЕАЛЬНЫ"</a></li>
            <li><a href="#">Тайм-менеджмент: когда не хватает времени</a></li>
        </ul>
    </div>
    <div id="recent_comments" class="clearfloat">
        <h3>Комментируемое</h3>
        <ul>
            <li><a href="#">Сертификационный Курс НЛП-Практик</a> - 481 просмотров</li>
            <li><a href="#">Тренинг-подарок для себя "МЕЧТЫ РЕАЛЬНЫ"</a> - 239 просмотров</li>
            <li><a href="#">Тайм-менеджмент: когда не хватает времени</a> - 202 просмотров</li>
            <li><a href="#">Жизнь вдвоём: найти путь к настоящей любви</a> - 177 просмотров</li>
            <li><a href="#">ОтношениЯ – быть или не быть…</a> - 153 просмотров</li>
        </ul>
    </div>
</div>