<div class="loginContainer">
    <form id="forgotPasswordForm"  name="$parent.myForm">
        <div class="panel panel-default box-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Восстановление пароля
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
                    <vb-form-input field-name="username" field-title="Ваш емейл" ng-model="username"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block" data-ng-click="askToResetPassword()">Восстановить пароль</button>
            </div>
        </div>
    </form>

    <div class="alert alert-success message" ng-show="showMessage">Супер! Вам выслано письмо для восстановления пароля</div>

</div>

