body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:21px;
  top:75px;
  width:851px;
  height:39px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:49px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:358px;
  top:78px;
  width:133px;
  height:35px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:593px;
  top:10px;
  width:250px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:841px;
  top:10px;
  width:100px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:22px;
  top:49px;
  width:370px;
  height:19px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#3399FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:12px;
  width:360px;
  height:34px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:33px;
  top:85px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:153px;
  top:85px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:273px;
  top:85px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:363px;
  top:85px;
  width:88px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:461px;
  top:87px;
  width:40px;
  height:14px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:11px;
  text-decoration:underline;
  color:#CC3366;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:21px;
  top:134px;
  width:84px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#2778B4;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:119px;
  top:134px;
  width:84px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#2778B4;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:234px;
  top:134px;
  width:84px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#2778B4;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:107px;
  top:138px;
  width:10px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:205px;
  top:138px;
  width:10px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:21px;
  top:156px;
  width:280px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u36 {
  position:absolute;
  left:21px;
  top:780px;
  width:49px;
  height:16px;
  color:#333333;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:21px;
  top:806px;
  width:140px;
  height:16px;
  color:#333333;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:21px;
  top:832px;
  width:140px;
  height:16px;
  color:#333333;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:21px;
  top:858px;
  width:140px;
  height:16px;
  color:#333333;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:193px;
  top:780px;
  width:55px;
  height:16px;
  color:#333333;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:193px;
  top:806px;
  width:170px;
  height:16px;
  color:#333333;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:193px;
  top:832px;
  width:170px;
  height:16px;
  color:#333333;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:193px;
  top:858px;
  width:170px;
  height:16px;
  color:#333333;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:-17px;
  top:770px;
  width:600px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u53 {
  position:absolute;
  left:24px;
  top:169px;
  width:336px;
  height:32px;
  font-size:26px;
  color:#333333;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:32px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:24px;
  top:266px;
  width:440px;
  height:64px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:64px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u56 {
  position:absolute;
  left:24px;
  top:217px;
  width:353px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u57 {
  position:absolute;
  left:24px;
  top:352px;
  width:190px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:24px;
  top:378px;
  width:220px;
  height:22px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:254px;
  top:378px;
  width:65px;
  height:21px;
  font-size:14px;
  color:#333333;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u60_img.selected {
}
#u60.selected {
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u60_img.mouseDown {
}
#u60.mouseDown {
}
#u60_img.disabled {
}
#u60.disabled {
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:24px;
  top:449px;
  width:515px;
  height:81px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:81px;
}
#u63 {
  position:absolute;
  left:2px;
  top:32px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:28px;
  top:424px;
  width:437px;
  height:25px;
  font-size:21px;
  color:#333333;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:25px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:122px;
  top:484px;
  width:140px;
  height:16px;
  color:#333333;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:300px;
  top:484px;
  width:140px;
  height:16px;
  color:#333333;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:514px;
  top:464px;
  width:16px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:30px;
  top:560px;
  width:140px;
  height:16px;
  color:#333333;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:36px;
  top:464px;
  width:64px;
  height:56px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u75 {
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:21px;
  top:134px;
  width:297px;
  height:32px;
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u34_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end.a {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u35.a {
  position:absolute;
  left:21px;
  top:780px;
  width:810px;
  height:111px;
}
#u36.a {
  left:59px;
  top:797px;
}
#u38.a {
  left:59px;
  top:823px;
}
#u40.a {
  left:59px;
  top:849px;
}
#u42.a {
  left:59px;
  top:875px;
}
#u44.a {
  left:231px;
  top:797px;
}
#u46.a {
  left:231px;
  top:823px;
}
#u48.a {
  left:231px;
  top:849px;
}
#u50.a {
  left:231px;
  top:875px;
}
#u52.a {
  left:21px;
  top:780px;
  width:810px;
}
#u52_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end.a {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u53.a {
}
#u55.a {
  position:absolute;
  left:24px;
  top:266px;
  width:440px;
  height:64px;
}
#u55_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:64px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u56.a {
  position:absolute;
  left:24px;
  top:217px;
  width:353px;
  height:25px;
}
#u56_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u57.a {
}
#u59.a {
  position:absolute;
  left:24px;
  top:378px;
  width:220px;
  height:22px;
}
#u59_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60.a {
}
#u62.a {
}
#u64.a {
}
#u66.a {
}
#u68.a {
}
#u70.a {
}
#u72.a {
}
#u74.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.b {
}
#u3.b {
}
#u5.b {
}
#u7.b {
}
#u9.b {
}
#u11.b {
}
#u13.b {
}
#u15.b {
}
#u17.b {
}
#u19.b {
}
#u21.b {
}
#u23.b {
  position:absolute;
  left:21px;
  top:134px;
  width:297px;
  height:32px;
}
#u24.b {
}
#u26.b {
}
#u28.b {
}
#u30.b {
}
#u32.b {
}
#u34.b {
}
#u34_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end.b {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u35.b {
  position:absolute;
  left:21px;
  top:780px;
  width:810px;
  height:111px;
}
#u36.b {
  left:59px;
  top:797px;
}
#u38.b {
  left:59px;
  top:823px;
}
#u40.b {
  left:59px;
  top:849px;
}
#u42.b {
  left:59px;
  top:875px;
}
#u44.b {
  left:231px;
  top:797px;
}
#u46.b {
  left:231px;
  top:823px;
}
#u48.b {
  left:231px;
  top:849px;
}
#u50.b {
  left:231px;
  top:875px;
}
#u52.b {
  left:21px;
  top:780px;
  width:810px;
}
#u52_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end.b {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u53.b {
}
#u55.b {
  position:absolute;
  left:24px;
  top:266px;
  width:440px;
  height:64px;
}
#u55_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:64px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u56.b {
  position:absolute;
  left:24px;
  top:217px;
  width:353px;
  height:25px;
}
#u56_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u57.b {
}
#u59.b {
  position:absolute;
  left:24px;
  top:378px;
  width:220px;
  height:22px;
}
#u59_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60.b {
}
#u62.b {
}
#u64.b {
}
#u66.b {
}
#u68.b {
}
#u70.b {
}
#u72.b {
}
#u74.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.c {
}
#u3.c {
}
#u5.c {
}
#u7.c {
}
#u9.c {
}
#u11.c {
}
#u13.c {
}
#u15.c {
}
#u17.c {
}
#u19.c {
}
#u21.c {
}
#u23.c {
  position:absolute;
  left:21px;
  top:134px;
  width:297px;
  height:32px;
}
#u24.c {
}
#u26.c {
}
#u28.c {
}
#u30.c {
}
#u32.c {
}
#u34.c {
}
#u34_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end.c {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u35.c {
  position:absolute;
  left:21px;
  top:780px;
  width:810px;
  height:111px;
}
#u36.c {
  left:59px;
  top:797px;
}
#u38.c {
  left:59px;
  top:823px;
}
#u40.c {
  left:59px;
  top:849px;
}
#u42.c {
  left:59px;
  top:875px;
}
#u44.c {
  left:231px;
  top:797px;
}
#u46.c {
  left:231px;
  top:823px;
}
#u48.c {
  left:231px;
  top:849px;
}
#u50.c {
  left:231px;
  top:875px;
}
#u52.c {
  left:21px;
  top:780px;
  width:810px;
}
#u52_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end.c {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u53.c {
}
#u55.c {
  position:absolute;
  left:24px;
  top:266px;
  width:440px;
  height:64px;
}
#u55_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:64px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u56.c {
  position:absolute;
  left:24px;
  top:217px;
  width:353px;
  height:25px;
}
#u56_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u57.c {
}
#u59.c {
  position:absolute;
  left:24px;
  top:378px;
  width:220px;
  height:22px;
}
#u59_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60.c {
}
#u62.c {
}
#u64.c {
}
#u66.c {
}
#u68.c {
}
#u70.c {
}
#u72.c {
}
#u74.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.d {
}
#u3.d {
}
#u5.d {
}
#u7.d {
}
#u9.d {
}
#u11.d {
}
#u13.d {
}
#u15.d {
}
#u17.d {
}
#u19.d {
}
#u21.d {
}
#u23.d {
  position:absolute;
  left:21px;
  top:134px;
  width:297px;
  height:32px;
}
#u24.d {
}
#u26.d {
}
#u28.d {
}
#u30.d {
}
#u32.d {
}
#u34.d {
}
#u34_start.d {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end.d {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line.d {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u35.d {
  position:absolute;
  left:21px;
  top:780px;
  width:810px;
  height:111px;
}
#u36.d {
  left:59px;
  top:797px;
}
#u38.d {
  left:59px;
  top:823px;
}
#u40.d {
  left:59px;
  top:849px;
}
#u42.d {
  left:59px;
  top:875px;
}
#u44.d {
  left:231px;
  top:797px;
}
#u46.d {
  left:231px;
  top:823px;
}
#u48.d {
  left:231px;
  top:849px;
}
#u50.d {
  left:231px;
  top:875px;
}
#u52.d {
  left:21px;
  top:780px;
  width:810px;
}
#u52_start.d {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end.d {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line.d {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u53.d {
}
#u55.d {
  position:absolute;
  left:24px;
  top:266px;
  width:440px;
  height:64px;
}
#u55_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:64px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u56.d {
  position:absolute;
  left:24px;
  top:217px;
  width:353px;
  height:25px;
}
#u56_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u57.d {
}
#u59.d {
  position:absolute;
  left:24px;
  top:378px;
  width:220px;
  height:22px;
}
#u59_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60.d {
}
#u62.d {
}
#u64.d {
}
#u66.d {
}
#u68.d {
}
#u70.d {
}
#u72.d {
}
#u74.d {
}
