<div class="logged-menu" style="position: fixed; ">
    <div
            style="width: 100px; float: left;  margin-left: 10px;">
        <div class="menu-item clearfix">
            <div style="width: 5px;  " class="menu-line"></div>
            <div class="inlineImage" style="">
                <a href="#/article"><i class="glyphicon glyphicon-pencil icon-my"></i>
                Создать&nbsp;статью</a>
            </div>
        </div>
        <div class="menu-item clearfix">
            <div style="width: 5px;  " class="menu-line"></div>
            <div class="inlineImage" style="">
                <a href="#/articleList"><i class="fontelloicon fontelloicon-newspaper icon-my"></i>
                Мои&nbsp;статьи</a>
            </div>
        </div>
        <div class="menu-item clearfix" style="">
            <div style="width: 5px;  " class="menu-line"></div>
            <div class="inlineImage" style="">
                <a href="#/profile"><i class="glyphicon glyphicon-user icon-my"></i>
                Мой&nbsp;профиль</a>
            </div>
        </div>
        <div class="menu-item clearfix" style="">
            <div style="width: 5px;  " class="menu-line"></div>
            <div class="inlineImage" style="">
                <a href><i class="glyphicon glyphicon-inbox icon-my"></i>
                Мои&nbsp;сообщения</a>
            </div>
        </div>
        <div class="menu-item clearfix" style="">
            <div style="width: 5px;  " class="menu-line"></div>
            <div class="inlineImage" style="">
                <i class="glyphicon glyphicon-certificate icon-my"></i>
                <a href>Мои&nbsp;сертификаты</a>
            </div>
        </div>
    </div>

</div>