body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:220px;
  width:920px;
  height:160px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:50px;
  width:920px;
  height:150px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:150px;
}
#u5 {
  position:absolute;
  left:2px;
  top:67px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
}
#u2.c {
}
#u4.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
}
#u2.d {
}
#u4.d {
}
