body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:21px;
  top:75px;
  width:851px;
  height:39px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:49px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:358px;
  top:78px;
  width:133px;
  height:35px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:593px;
  top:10px;
  width:250px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:841px;
  top:10px;
  width:100px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:22px;
  top:49px;
  width:370px;
  height:19px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#3399FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:12px;
  width:360px;
  height:34px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:33px;
  top:85px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:153px;
  top:85px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:273px;
  top:85px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:363px;
  top:85px;
  width:88px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:461px;
  top:87px;
  width:40px;
  height:14px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:11px;
  text-decoration:underline;
  color:#CC3366;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:21px;
  top:133px;
  width:120px;
  height:120px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u24 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:190px;
  top:144px;
  width:300px;
  height:22px;
  font-size:18px;
  color:#333333;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:331px;
  top:176px;
  width:70px;
  height:16px;
  color:#0000FF;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:193px;
  top:176px;
  width:117px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:194px;
  top:202px;
  width:140px;
  height:48px;
  color:#333333;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:570px;
  top:176px;
  width:300px;
  height:74px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
}
#u34 {
  position:absolute;
  left:2px;
  top:29px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:580px;
  top:182px;
  width:40px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:650px;
  top:182px;
  width:130px;
  height:16px;
  color:#333333;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:580px;
  top:204px;
  width:40px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:650px;
  top:204px;
  width:130px;
  height:16px;
  color:#333333;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:580px;
  top:226px;
  width:100px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:692px;
  top:226px;
  width:140px;
  height:16px;
  text-decoration:underline;
  color:#004080;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:570px;
  top:296px;
  width:300px;
  height:444px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:444px;
}
#u48 {
  position:absolute;
  left:2px;
  top:214px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:580px;
  top:310px;
  width:50px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:640px;
  top:310px;
  width:230px;
  height:32px;
  color:#333333;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:576px;
  top:352px;
  width:289px;
  height:371px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:371px;
}
#u54 {
  position:absolute;
  left:2px;
  top:178px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:410px;
  top:176px;
  width:151px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:20px;
  top:872px;
  width:256px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:796px;
  top:144px;
  width:74px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:21px;
  top:322px;
  width:190px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:309px;
  top:872px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:178px;
  top:354px;
  width:372px;
  height:96px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:96px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:21px;
  top:354px;
  width:137px;
  height:15px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:180px;
  top:465px;
  width:380px;
  height:64px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:64px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:20px;
  top:465px;
  width:140px;
  height:15px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:180px;
  top:541px;
  width:380px;
  height:48px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:48px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:20px;
  top:541px;
  width:140px;
  height:30px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:181px;
  top:604px;
  width:380px;
  height:64px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:64px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:21px;
  top:604px;
  width:140px;
  height:30px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:180px;
  top:678px;
  width:380px;
  height:48px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:48px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:20px;
  top:678px;
  width:140px;
  height:30px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:180px;
  top:737px;
  width:380px;
  height:64px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:64px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:20px;
  top:737px;
  width:140px;
  height:15px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:179px;
  top:811px;
  width:380px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:19px;
  top:811px;
  width:140px;
  height:30px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:20px;
  top:270px;
  width:110px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:150px;
  top:270px;
  width:37px;
  height:19px;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:909px;
  top:176px;
  width:351px;
  height:263px;
  font-family:'Raleway Oblique', 'Raleway';
  font-weight:400;
  font-style:oblique;
  color:#666666;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:263px;
}
#u98 {
  position:absolute;
  left:2px;
  top:124px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:997px;
  top:186px;
  width:248px;
  height:15px;
  font-family:'Raleway Regular', 'Raleway';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:15px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:919px;
  top:186px;
  width:70px;
  height:80px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:80px;
}
#u102 {
  position:absolute;
  left:2px;
  top:32px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1013px;
  top:238px;
  width:112px;
  height:25px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u103_img.disabled {
}
#u103.disabled {
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1137px;
  top:238px;
  width:112px;
  height:25px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
}
#u105_img.mouseOver {
}
#u105.mouseOver {
}
#u105_img.disabled {
}
#u105.disabled {
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:997px;
  top:204px;
  width:248px;
  height:15px;
  font-family:'Raleway Regular', 'Raleway';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:15px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:919px;
  top:277px;
  width:140px;
  height:16px;
  text-decoration:underline;
  color:#2D4050;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:927px;
  top:310px;
  width:310px;
  height:32px;
  text-decoration:underline;
  color:#006699;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:927px;
  top:352px;
  width:310px;
  height:32px;
  text-decoration:underline;
  color:#006699;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:919px;
  top:302px;
  width:331px;
  height:114px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:114px;
}
#u116 {
  position:absolute;
  left:2px;
  top:49px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1061px;
  top:277px;
  width:99px;
  height:16px;
  text-decoration:underline;
  color:#006699;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1153px;
  top:278px;
  width:99px;
  height:16px;
  text-decoration:underline;
  color:#006699;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:903px;
  top:477px;
  width:580px;
  height:40px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:576px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:344px;
  top:238px;
  width:170px;
  height:40px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:344px;
  top:296px;
  width:170px;
  height:40px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u35.a {
}
#u37.a {
}
#u39.a {
}
#u41.a {
}
#u43.a {
}
#u45.a {
}
#u47.a {
}
#u49.a {
}
#u51.a {
}
#u53.a {
}
#u55.a {
}
#u57.a {
}
#u59.a {
}
#u61.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
}
#u69.a {
}
#u71.a {
}
#u73.a {
}
#u75.a {
}
#u77.a {
}
#u79.a {
}
#u81.a {
}
#u83.a {
}
#u85.a {
}
#u87.a {
}
#u89.a {
}
#u91.a {
}
#u93.a {
}
#u95.a {
}
#u97.a {
}
#u99.a {
}
#u101.a {
}
#u103.a {
}
#u105.a {
}
#u107.a {
}
#u109.a {
}
#u111.a {
}
#u113.a {
}
#u115.a {
}
#u117.a {
}
#u119.a {
}
#u121.a {
}
#u123.a {
}
#u125.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.b {
}
#u3.b {
}
#u5.b {
}
#u7.b {
}
#u9.b {
}
#u11.b {
}
#u13.b {
}
#u15.b {
}
#u17.b {
}
#u19.b {
}
#u21.b {
}
#u23.b {
}
#u25.b {
}
#u27.b {
}
#u29.b {
}
#u31.b {
}
#u33.b {
}
#u35.b {
}
#u37.b {
}
#u39.b {
}
#u41.b {
}
#u43.b {
}
#u45.b {
}
#u47.b {
}
#u49.b {
}
#u51.b {
}
#u53.b {
}
#u55.b {
}
#u57.b {
}
#u59.b {
}
#u61.b {
}
#u63.b {
}
#u65.b {
}
#u67.b {
}
#u69.b {
}
#u71.b {
}
#u73.b {
}
#u75.b {
}
#u77.b {
}
#u79.b {
}
#u81.b {
}
#u83.b {
}
#u85.b {
}
#u87.b {
}
#u89.b {
}
#u91.b {
}
#u93.b {
}
#u95.b {
}
#u97.b {
}
#u99.b {
}
#u101.b {
}
#u103.b {
}
#u105.b {
}
#u107.b {
}
#u109.b {
}
#u111.b {
}
#u113.b {
}
#u115.b {
}
#u117.b {
}
#u119.b {
}
#u121.b {
}
#u123.b {
}
#u125.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.c {
}
#u3.c {
}
#u5.c {
}
#u7.c {
}
#u9.c {
}
#u11.c {
}
#u13.c {
}
#u15.c {
}
#u17.c {
}
#u19.c {
}
#u21.c {
}
#u23.c {
}
#u25.c {
}
#u27.c {
}
#u29.c {
}
#u31.c {
}
#u33.c {
}
#u35.c {
}
#u37.c {
}
#u39.c {
}
#u41.c {
}
#u43.c {
}
#u45.c {
}
#u47.c {
}
#u49.c {
}
#u51.c {
}
#u53.c {
}
#u55.c {
}
#u57.c {
}
#u59.c {
}
#u61.c {
}
#u63.c {
}
#u65.c {
}
#u67.c {
}
#u69.c {
}
#u71.c {
}
#u73.c {
}
#u75.c {
}
#u77.c {
}
#u79.c {
}
#u81.c {
}
#u83.c {
}
#u85.c {
}
#u87.c {
}
#u89.c {
}
#u91.c {
}
#u93.c {
}
#u95.c {
}
#u97.c {
}
#u99.c {
}
#u101.c {
}
#u103.c {
}
#u105.c {
}
#u107.c {
}
#u109.c {
}
#u111.c {
}
#u113.c {
}
#u115.c {
}
#u117.c {
}
#u119.c {
}
#u121.c {
}
#u123.c {
}
#u125.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
  position:absolute;
  left:20px;
  top:10px;
  width:921px;
  height:104px;
}
#u1.d {
}
#u3.d {
}
#u5.d {
}
#u7.d {
}
#u9.d {
}
#u11.d {
}
#u13.d {
}
#u15.d {
}
#u17.d {
}
#u19.d {
}
#u21.d {
}
#u23.d {
}
#u25.d {
}
#u27.d {
}
#u29.d {
}
#u31.d {
}
#u33.d {
}
#u35.d {
}
#u37.d {
}
#u39.d {
}
#u41.d {
}
#u43.d {
}
#u45.d {
}
#u47.d {
}
#u49.d {
}
#u51.d {
}
#u53.d {
}
#u55.d {
}
#u57.d {
}
#u59.d {
}
#u61.d {
}
#u63.d {
}
#u65.d {
}
#u67.d {
}
#u69.d {
}
#u71.d {
}
#u73.d {
}
#u75.d {
}
#u77.d {
}
#u79.d {
}
#u81.d {
}
#u83.d {
}
#u85.d {
}
#u87.d {
}
#u89.d {
}
#u91.d {
}
#u93.d {
}
#u95.d {
}
#u97.d {
}
#u99.d {
}
#u101.d {
}
#u103.d {
}
#u105.d {
}
#u107.d {
}
#u109.d {
}
#u111.d {
}
#u113.d {
}
#u115.d {
}
#u117.d {
}
#u119.d {
}
#u121.d {
}
#u123.d {
}
#u125.d {
}
