<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This Learning Management System (“Software”) is the exclusive and sole property of Baja Education. Inc. (“Baja”).
  ~ Baja has the sole rights to copy the software, create derivatives or modified versions of it, distribute copies
  ~ to End Users by license, sale or otherwise. Anyone exercising any of these exclusive rights which also includes
  ~ indirect copying  such as unauthorized translation of the code into a different programming language without
  ~ written explicit permission from Baja is an infringer and subject to liability for damages or statutory fines.
  ~ Interested parties may contact bpozos@gmail.com.
  ~
  ~ (c) 2012 Baja Education
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %-30.30c{1} %x - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework.security">
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.jasig.cas">
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>