<div class="main_content" style="height: 100%;" loaddirective>
  <div ng-include="'angular/views/guest/mainMenu.html'"/>
  <div ng-include="'angular/views/guest/rightBlock.html'"/>


  <div class="article vb-center-block">

    <div class="caption">
      <!--<span ng-show="{{article.author.firstName}}!= null">-->
      <!--not empty-->
      <!--</span>-->
      <!--<span ng-show="{{article.author.email}}== null">-->
      <!--empty-->
      <!--</span>-->
      <!--<span ng-show="isObject({{article.author.firstName}})">-->
      <!--empty {{article.author.firstName}}-->
      <!--</span>-->
      qqq{{article.author}}
      <div class="article-date">Опубликована {{article.date}} | <i class="fontelloicon fontelloicon-user"></i> Автор <a
          href="/#author"><i><span ng-if="toBoolean(article.author.firstName)">{{article.author.firstName}} {{article.author.lastName}}</span></i><span
          ng-if="!toBoolean(article.author.firstName)">{{article.author.email}}</span></i></a></div>
      <a class="article-title" href="#!/articleGuest?id={{article.id}}">{{article.title}}</a></h4>
      <div class="tags" data-ng-show="toBoolean(article.tags)">
        <i style="margin-right: 5px;" class="glyphicon glyphicon-tags"></i>

        <div ng-repeat="tag in article.tags" style="display: inline;">
          <a href="#" style="font-style: italic;">{{tag.title}}</a>
          <i ng-show="($index+1) < article.tags.length" style="margin-right: 5px;">,</i>
          <!--<a href="#">Дети</a>
          <i style="margin-right: 5px;">,</i>
          <a href="#">Отношения</a>-->
        </div>
      </div>
    </div>
    <!--<img class="article-image img-responsive" src="http://placehold.it/1400x300" alt="">-->

    <div class="article-content" ng-bind-html="article.text">
    </div>
    <div>
      <div class="ratings">
        <p>
          <span class="glyphicon glyphicon-thumbs-up"></span><span class="numbers">1000</span>
          <span class="glyphicon glyphicon-thumbs-down"></span><span class="numbers">300</span>
          <!--<span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          4.0 stars-->
        </p>
      </div>
    </div>

    <div class="about-author bg_gray_3">
      <div class="media">
        <div class="pull-left text-center">

          <img
              src="http://1.gravatar.com/avatar/5d18ba0550e65947fead07306d9d2aee?s=130&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D130&amp;r=G"
              class="author-avatar img-responsive img-circle" alt="DeTheme">

        </div>
        <div class="media-body">
          <h5 class="heading_text_color">About DeTheme</h5>
          Praeterea iter est quasdam res quas ex communi. Quo usque tandem abutere, Catilina, patientia nostra Quisque
          ut dolor gravida, placerat libero vel, euismod.
        </div>
      </div>
    </div>

    <a id="comments" style="position:relative; bottom:30px;">&nbsp;</a>
    <div class="comment-container" >

    </div>

    <script type="text/html" id="commentHtml">
      <div style="clear:both;">
        <div class="" style="float:left;padding:0px 10px 10px 0px;"><img style="border-radius: 4px;"
                                                                         class="imgPhoto img-responsive"
                                                                         src="http://placehold.it/70x80" alt=""></div>
        <div class="comment">
          <div class="comment-top">
            <div class="comment-top-text">
              <strong>
                <a href="/ashutoshdikshit" class="author">Василина</a>
              </strong>
              прокомментировал
              <a href="#issue-18148979" class="timestamp">
                <time datetime="2013-08-16T09:48:48Z" is="relative-time" title="16 авг. 2013 г., 12:48 GMT+3">on 16 Aug
                  2013
                </time>
              </a>
            </div>
          </div>
          <div class="comment-text">Самая классная статья по психологии что я читал</div>
          <div align="right">
            <button type="submit" class="btn btn-success" style="margin: 1% 1% 1% 0"
                    data-ng-click="showTextarea($event);">Ответить
            </button>
          </div>

        </div>
      </div>
      <div style="clear:both;position: relative;min-height:30px;" class="discussion-item discussion-item-closed">
        <span class="octicon octicon-circle-slash discussion-item-icon"></span>
      </div>
      <div style="clear:both;" class="closed-banner"></div>
      <div style="clear:both;">
        <div style="float:left;padding:0px 10px 10px 0px;">
          <img style="border-radius: 4px;" class="imgPhoto img-responsive" src="http://placehold.it/70x80" alt="">
        </div>

      </div>

    </script>
    <script type="text/html" id="template">
      <div>
        <form>
          <h3>Оставить комментарий</h3>
          <textarea name="text" style="width: 100%; height: 200px;"></textarea>
          <input type="hidden" name="articleId" data-value="articleIdValue">

          <div class="publish-div" align="right">
            <button type="submit" class="btn btn-primary" data-ng-click="login()">Опубликовать</button>
          </div>
        </form>
      </div>
    </script>


  </div>
</div>