<div class="menu-category" style="position: fixed; width: 120px;">
  <div
      style="width: 100px; float: left;  margin-left: 10px;">
    <div class="menu-item clearfix">
      <div style="width: 5px;  " class="menu-line"></div>
      <div class="inlineImage" style="">
        <a href><img src="icons/relation_black.png"/></a>
          <div><a href>Отношения</a></div>
      </div>
    </div>
    <div class="menu-item clearfix" style="">
      <div style="width: 5px;  " class="menu-line"></div>
      <div class="inlineImage" style="">
        <a href><img src="icons/health_black.png"/></a>
          <div><a href>Здоровье</a></div>
      </div>
    </div>
    <div class="menu-item clearfix" style="">
      <div style="width: 5px;  " class="menu-line"></div>
      <div class="inlineImage" style="">
        <a href><img src="icons/children_black.png"/></a>
          <div><a href>О&nbsp;детях</a></div>
      </div>
    </div>
    <div class="menu-item clearfix" style="">
      <div style="width: 5px;  " class="menu-line"></div>
      <div class="inlineImage" style="">
        <a href><img src="icons/business_tie_black.png"/></a>
        <div><a href>Работа</a></div>
      </div>
    </div>
    <div class="menu-item clearfix" style="">
      <div style="width: 5px;  " class="menu-line"></div>
      <div class="inlineImage" style="">
        <a href><img src="icons/face_uncons_black.png"/></a>
          <div><a href>Подсознание</a></div>
      </div>
    </div>
  </div>

</div>