body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:440px;
  width:640px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:190px;
  width:260px;
  height:170px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:170px;
}
#u3 {
  position:absolute;
  left:2px;
  top:77px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:90px;
  width:610px;
  height:80px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:80px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:51px;
  top:455px;
  width:199px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:50px;
  top:200px;
  width:240px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:296px;
  width:240px;
  height:16px;
  text-decoration:underline;
  color:#333333;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:320px;
  top:200px;
  width:240px;
  height:90px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:320px;
  top:300px;
  width:240px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#333333;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:640px;
  top:288px;
  width:580px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:576px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:640px;
  top:340px;
  width:580px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:576px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:640px;
  top:13px;
  width:580px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:576px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:281px;
  top:455px;
  width:159px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:460px;
  top:455px;
  width:100px;
  height:25px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AE5300;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.disabled {
}
#u21.disabled {
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:573px;
  top:455px;
  width:100px;
  height:25px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AE5300;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.disabled {
}
#u23.disabled {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:640px;
  top:410px;
  width:580px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:576px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:219px;
  top:41px;
  width:220px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27_input:disabled {
  color:grayText;
}
#u28 {
  position:absolute;
  left:40px;
  top:44px;
  width:160px;
  height:16px;
  color:#333333;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:760px;
  top:100px;
  width:80px;
  height:90px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u31 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:760px;
  top:196px;
  width:90px;
  height:16px;
  text-decoration:underline;
  color:#333333;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:660px;
  top:100px;
  width:80px;
  height:90px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u35 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:660px;
  top:196px;
  width:90px;
  height:16px;
  text-decoration:underline;
  color:#333333;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:860px;
  top:100px;
  width:80px;
  height:90px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u39 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:860px;
  top:200px;
  width:90px;
  height:32px;
  text-decoration:underline;
  color:#333333;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:660px;
  top:63px;
  width:580px;
  height:27px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:27px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:576px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:390px;
  top:385px;
  width:199px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45 {
  position:absolute;
  left:40px;
  top:393px;
  width:286px;
  height:16px;
  color:#333333;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
  position:absolute;
  left:40px;
  top:90px;
  width:610px;
  height:80px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:80px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5.a {
  position:absolute;
  left:51px;
  top:455px;
  width:199px;
  height:25px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
  position:absolute;
  left:281px;
  top:455px;
  width:159px;
  height:25px;
}
#u20_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
  position:absolute;
  left:219px;
  top:41px;
  width:220px;
  height:22px;
}
#u27_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
  position:absolute;
  left:390px;
  top:385px;
  width:199px;
  height:25px;
}
#u44_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
  position:absolute;
  left:40px;
  top:90px;
  width:610px;
  height:80px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:80px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5.b {
  position:absolute;
  left:51px;
  top:455px;
  width:199px;
  height:25px;
}
#u5_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
  position:absolute;
  left:281px;
  top:455px;
  width:159px;
  height:25px;
}
#u20_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21.b {
}
#u23.b {
}
#u25.b {
}
#u27.b {
  position:absolute;
  left:219px;
  top:41px;
  width:220px;
  height:22px;
}
#u27_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28.b {
}
#u30.b {
}
#u32.b {
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
}
#u42.b {
}
#u44.b {
  position:absolute;
  left:390px;
  top:385px;
  width:199px;
  height:25px;
}
#u44_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
}
#u2.c {
}
#u4.c {
  position:absolute;
  left:40px;
  top:90px;
  width:610px;
  height:80px;
}
#u4_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:80px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5.c {
  position:absolute;
  left:51px;
  top:455px;
  width:199px;
  height:25px;
}
#u5_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6.c {
}
#u8.c {
}
#u10.c {
}
#u12.c {
}
#u14.c {
}
#u16.c {
}
#u18.c {
}
#u20.c {
  position:absolute;
  left:281px;
  top:455px;
  width:159px;
  height:25px;
}
#u20_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21.c {
}
#u23.c {
}
#u25.c {
}
#u27.c {
  position:absolute;
  left:219px;
  top:41px;
  width:220px;
  height:22px;
}
#u27_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28.c {
}
#u30.c {
}
#u32.c {
}
#u34.c {
}
#u36.c {
}
#u38.c {
}
#u40.c {
}
#u42.c {
}
#u44.c {
  position:absolute;
  left:390px;
  top:385px;
  width:199px;
  height:25px;
}
#u44_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
}
#u2.d {
}
#u4.d {
  position:absolute;
  left:40px;
  top:90px;
  width:610px;
  height:80px;
}
#u4_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:80px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5.d {
  position:absolute;
  left:51px;
  top:455px;
  width:199px;
  height:25px;
}
#u5_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6.d {
}
#u8.d {
}
#u10.d {
}
#u12.d {
}
#u14.d {
}
#u16.d {
}
#u18.d {
}
#u20.d {
  position:absolute;
  left:281px;
  top:455px;
  width:159px;
  height:25px;
}
#u20_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21.d {
}
#u23.d {
}
#u25.d {
}
#u27.d {
  position:absolute;
  left:219px;
  top:41px;
  width:220px;
  height:22px;
}
#u27_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28.d {
}
#u30.d {
}
#u32.d {
}
#u34.d {
}
#u36.d {
}
#u38.d {
}
#u40.d {
}
#u42.d {
}
#u44.d {
  position:absolute;
  left:390px;
  top:385px;
  width:199px;
  height:25px;
}
#u44_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45.d {
}
