body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  height:16px;
  color:#333333;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:11px;
  top:30px;
  width:140px;
  height:16px;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:9px;
  top:50px;
  width:140px;
  height:16px;
  color:#333333;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:70px;
  width:140px;
  height:16px;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:11px;
  top:89px;
  width:140px;
  height:16px;
  color:#333333;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:12px;
  top:109px;
  width:140px;
  height:16px;
  color:#333333;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:129px;
  width:140px;
  height:16px;
  color:#333333;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:11px;
  top:149px;
  width:140px;
  height:16px;
  color:#333333;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
}
#u2.c {
}
#u4.c {
}
#u6.c {
}
#u8.c {
}
#u10.c {
}
#u12.c {
}
#u14.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
}
#u2.d {
}
#u4.d {
}
#u6.d {
}
#u8.d {
}
#u10.d {
}
#u12.d {
}
#u14.d {
}
